{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Post {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <p>
            <label>
                <input type="text" name="title"
                       placeholder="Post title" class="form-control"
                       size="50"
                       value="{{ request.form['title'] }}"/>
            </label>
        </p>
    </div>

    <div class="form-group">
        <label for="content">Content</label>
        <p>
            <label>
                <textarea name="content" placeholder="Post content"
                          class="form-control" rows="5" cols="50">{{ request.form['content'] }}</textarea>
            </label>
        </p>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}